In [1]:
import numpy as np
import pandas as pd

In [71]:
synopsis = pd.read_csv('anime_with_synopsis.csv')
synopsis.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [72]:
synopsis.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'sypnopsis'], dtype='object')

In [73]:
new_df = synopsis[['MAL_ID', 'Name', 'sypnopsis', 'Genres']]
new_df.head()

,MAL_ID,Name,sypnopsis,Genres
0,1,Cowboy Bebop,"In the year 2071, humanity has colonized sever...","Action, Adventure, Comedy, Drama, Sci-Fi, Space"
1,5,Cowboy Bebop: Tengoku no Tobira,"other day, another bounty—such is the life of ...","Action, Drama, Mystery, Sci-Fi, Space"
2,6,Trigun,"Vash the Stampede is the man with a $$60,000,0...","Action, Sci-Fi, Adventure, Comedy, Drama, Shounen"
3,7,Witch Hunter Robin,ches are individuals with special powers like ...,"Action, Mystery, Police, Supernatural, Drama, ..."
4,8,Bouken Ou Beet,It is the dark century and the people are suff...,"Adventure, Fantasy, Shounen, Supernatural"

In [74]:
new_df.dropna(inplace=True)

C:\Users\16178\AppData\Local\Temp\ipykernel_21036\1925939579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(inplace=True)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [75]:
cv = CountVectorizer(max_features=5000, stop_words='english')

vector = cv.fit_transform(new_df['Genres']).toarray()
print(vector.shape)

(16206, 45)

In [76]:
cosine = cosine_similarity(vector)

In [77]:
cosine

array([[1.        , 0.77151675, 0.85714286, ..., 0.        , 0.37796447,
        0.26726124],
       [0.77151675, 1.        , 0.6172134 , ..., 0.16666667, 0.        ,
        0.28867513],
       [0.85714286, 0.6172134 , 1.        , ..., 0.        , 0.37796447,
        0.26726124],
       ...,
       [0.        , 0.16666667, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.37796447, 0.        , 0.37796447, ..., 0.        , 1.        ,
        0.        ],
       [0.26726124, 0.28867513, 0.26726124, ..., 0.        , 0.        ,
        1.        ]])

In [78]:
new_df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            16204, 16205, 16206, 16207, 16208, 16209, 16210, 16211, 16212,
            16213],
           dtype='int64', length=16206)

In [79]:
new_df[new_df['Name'] == 'One Piece'].index

Int64Index([11], dtype='int64')

In [80]:
# manualy check for index
new_df[new_df['Name'] == 'One Piece'].index[0]

11

In [81]:
def recommendation(anime):
    index = new_df[new_df['Name'] == anime].index[0]
    distances = sorted(list(enumerate(cosine[index])), reverse=True, key = lambda x: x[1])
    for i in distances[1:11]:
        print(new_df.iloc[i[0]].Name)

## Testing

In [82]:
recommendation('Jujutsu Kaisen')

Saint Beast: Kouin Jojishi Tenshi Tan
The☆Doraemons: Mushimushi Pyonpyon Daisakusen!
The☆Doraemons: Strange, Sweets, Strange?
Dorami-chan: Wow, The Kid Gang of Bandits
Dorami-chan: Hello Kyouryuu Kids!!
Dorami & Doraemons: Robot School's Seven Mysteries
Doraemon Movie 14: Nobita to Buriki no Labyrinth
Doraemon: Nobita's the Night Before a Wedding
Doraemon Movie 04: Nobita no Kaitei Kiganjou
Doraemon Movie 05: Nobita no Makai Daibouken

In [83]:
recommendation('Naruto')

Naruto: Shippuuden
Boruto: Jump Festa 2016 Special
Dragon Ball Z
Dragon Ball Z Movie 11: Super Senshi Gekiha!! Katsu no wa Ore da
Dragon Ball GT: Gokuu Gaiden! Yuuki no Akashi wa Suushinchuu
Dragon Ball Kai
Dragon Ball Z: Atsumare! Gokuu World
Dragon Ball Z: Summer Vacation Special
Dragon Ball Kai (2014)
Dragon Ball Z Movie 15: Fukkatsu no "F"

In [84]:
recommendation('One Piece')

One Piece: Episode of Nami - Koukaishi no Namida to Nakama no Kizuna
One Piece: Episode of Merry - Mou Hitori no Nakama no Monogatari
One Piece: Episode of Sabo - 3 Kyoudai no Kizuna Kiseki no Saikai to Uketsugareru Ishi
One Piece: Long Ring Long Land-hen
One Piece: Episode of East Blue - Luffy to 4-nin no Nakama no Daibouken
One Piece: Episode of Sorajima
One Piece Movie 14: Stampede
One Piece Movie 1
One Piece Movie 2: Nejimaki-jima no Daibouken
One Piece Movie 3: Chinjuu-jima no Chopper Oukoku